<% include partials/header %>

<h1><%= campgroundData.name %></h1>
<img src="<%= campgroundData.image %>" alt="<%= campgroundData.name %>">
<p><%= campgroundData.description %></p>

<% include partials/footer %>